{% extends "AppEntrega/padre.html" %}

{% load static %}

{% block titulo %} Sugerencias {% endblock %}
{% block cabecera %} 
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="{% url 'inicio' %}">Recetas Milm</a>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">                       

                    {% if request.user.is_authenticated %}

                    <p style="color: aquamarine;"> {{user.username}}</p>
                    
                    {% with user.avatar_set.last as pfp %}

                    {% if pfp %}

                    <img src="{{pfp.imagen.url}}" alt="No se encuentra la imagen." style="max-width: 90px ;">

                    {% endif %}

                    {% endwith %}

                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'Crear mi Consulta' %}">Consultas</a></li>        
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'Recetas' %}">Recetas</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'Hacer Sugerencia' %}">Sugerinos una receta!</a></li>
                    
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'Avatar' %}">Cambiar Foto de perfil</a></li>    

                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'Logout' %}">Cerrar Sesión</a></li>    

                    {% else %}      
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'Crear mi Consulta' %}">Consultas</a></li>        
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'Recetas' %}">Recetas</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'Hacer Sugerencia' %}">Sugerinos una receta!</a></li>
                    
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'REGISTRO' %}">Registrar</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'LOGIN' %}">Iniciar Sesión</a></li>

                    {% endif %}
                    

                            
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block TituloPrincipal %} Sugerencias {% endblock %}

{% block recetas %} {% endblock %}

{% block users %} {% endblock %}

{% block Consultas %}
<!-- Consultas Section-->
<section class="page-section" id="Consultas">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Aqui podras buscar tus sugerencias</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <form action="/AppEntrega/mis_sugerencias/" method="GET"> 
            <div class="form-floating mb-3">
                <input class="form-control" type="text" name="nombre" placeholder="Nombre" data-sb-validations="required" />
                <label for="name">Nombre</label>
                <div class="invalid-feedback" data-sb-feedback="name:required">Se requiere un nombre.</div>
            </div>
            <input type="submit" value:"Buscar" class="btn btn-primary btn-xl">
        </form>

        <ol>
            {% for sabor in result %}
            <li>
                <p>Nombre: {{sabor.nombre}}</p>
                <p>Nombre de la Receta: {{sabor.nombre_receta}}</p>
                <p>Sabor: {{sabor.sabor}}</p>
                <p>Cantidad de pasos: {{sabor.cant_pasos}}</p>
                <p>Dificultad: {{sabor.dificultad}}</p>
                
            </li>
            {% endfor %}
            
            </ol>

            </div>
        </div>
    </div>
</section>
{% endblock %}